.product-info {
    margin-top: 10px;
    width: 22%;
   height: 450px;   
}


.product-img {
    
    max-width: 100%;
    object-fit: scale-down;
    margin-bottom: 5px;
}
.testimony-info{
    margin-top: 10px;
    width: 15%;
    height: 450px;
}

.testimony-img{
    max-width: 100%;
    object-fit: scale-down;
    margin-bottom: 5px; 
   }

   .product-info-mobile {
    margin-top: 10px;
    width: 90%;
   height: 450px;   
   align-items: center;
   margin: 1px 5%;
}
   .testimony-info-mobile {
    margin-top: 30px;
    width: 50%;
    height: 350px;
    align-items: center;
    margin: 5px 20%;
    
   }

  .testimony-img-mobile {
    margin-top: 20px;
    max-width: 100%;
    height: auto;

   }
